<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <script type="text/javascript" src="./script.js">

    </script>
    <form  id='my-form' method="post" >

            <input type="text" id="email" name="email">

            
            <input type="password" id="pass" name="pass">

        <button onclick="sendDataFetch()">Se connecter</button>
    </form>



     <h1 id="title">Récupérer les données JSON et les afficher ici</h1>


     
    <button onclick="recupUserData()">Recup User</button>

    <button onclick="recupDashboard()">Recup Tableau de bord</button>

    <p id="user1"></p>

</body>
</html>